:root {
  --text: #434455; /* slate */
  --primary-white: #ffffff; /* white */
  --pressed-state: #404bbf; /* ocean */
  --dark: #2e2f42; /* navy blue */
  --accent: #e7e9fc; /* cornflower */
  --light: #f4f4fd; /* cloud */
  --primary-brand: #4d5ae5; /* iris */
  --green: #31d0aa; /* green */
  --light-slate: #8e8f99; /* light-slate */
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 396px;
  outline: 1px solid red;
  margin: auto;
  margin-top: 24px;
}
/* logo */
.logo {
  text-decoration: none;
  color: var(--primary-brand);
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-span {
  color: var(--dark);
}
.footer-span {
  color: var(--primary-white);
}
.burger-menu {
  border: none;
  padding: 0;
  background-color: transparent;
}
.burger {
  stroke: var(--dark);
}
.mob-header {
  display: flex;
  justify-content: space-between;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  padding: 24px 24px 24px 40px;
  justify-content: space-between;
  max-height: 796px;
  overflow: auto;
}
.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: transparent;
  margin-left: auto;
}
.close-ico {
  fill: var(--dark);
  width: 100%;
  height: 100%;
}
.site-nav {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-size: 36px;
  gap: 40px;
}
.address-nav .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-brand);
}
